.data-area{
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    overflow: hidden;
    /* background-image: url('../img/cidadeparallax.png');
    background-position-x: center;
    background-position-y: center; */
}

.data-area{
    padding: 2rem 0;
}

.progress-box{
   display: flex;
   justify-content: center;
   
}

.x {
    width: 99vw;
    height: 600px;
    overflow: hidden;
    margin: 3rem 0;
}

.ty{
    width: 100%;
    height: 500px;
    background-color: red;
}