.card{
    box-shadow: 2px 2px 3px #0000002b;
    transition: .5s;
}

.card-body{
    text-align: center;
    background-color: var(--blue-theme);
    color: #fff;
}

.card-title{
    font-size: 2rem;
    text-transform: uppercase;
}

#wrapper-cards:hover .animationOn{
    scale: 0.9;
    opacity: .7;
   
}

#wrapper-cards:hover .animationOff{
    border: 2px solid var(--blue-theme);
}

@media screen and (max-width: 768px) {
    .wrapper-card{
        margin-bottom: 2rem;
    }
}
