*{
    font-size: 1.6rem;
}

.navbar{
   padding: 0 .5rem;
}

.navbar-nav{
    flex-direction: row;
    margin-right: 2rem;
    gap: 2rem;
}

.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand span{
    font-size: 1.3rem;
    margin-left: .5rem;
    color: rgba(255, 255, 255, 0.55);
}

.navbar-brand:hover span{
    color: rgba(255, 255, 255, 0.75);
}