@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  --blue-theme: #65DAF9;
  --title-color: #444;
}

.main-title{
  position: relative;
  font-size: 5rem;
  color: var(--title-color);
  text-align: center;
  padding: 3rem 0 4rem 0;
}

.main-title::after{
  content: "";
  border-top: 3px solid #333;
  border-radius: 30%;
  width: 20%;
  position: absolute;
  bottom: 20%;
  left: 40%;
  
}

.main-btn{
  margin-bottom: 0;
  text-decoration: none;
  color: #fff;
  background-color: var(--blue-theme);
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  border: 3px solid transparent;
  font-weight: bolder;
  transition: .5s;  
}

.main-btn:hover{
  color: #fff;
  background-color: transparent;
  border-color: var(--blue-theme);
  
}




