.nav-link{
    border-bottom: 1px solid transparent ;
}

.nav-link:hover{
    border-bottom: 1px solid var(--blue-theme);
}

.carousel-inner, .carousel-item{
    height: 85vh;
    
}

.carousel-item{
    bottom: 2rem;
}


.carousel-control-prev span, .carousel-control-next span{
   scale: 1.3;
   
}

.carousel-caption{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 30%;
}

.carousel-caption h2{
    font-size: 4.5rem;
}

.carousel-caption p{
    font-size: 1.7rem;
    margin-top: -20px;
}

.carousel-indicators .active{
    background-color: var(--blue-theme);
}